## Importing Libraries

In [1]:
import pandas as pd
import mysql.connector
from credentials import db_password

## Connecting to **gdb023** database

In [2]:
mydb = mysql.connector.connect(host = 'localhost', user = 'root', password = db_password, database = 'gdb023')
cursorObject = mydb.cursor()

query = '''
        SHOW TABLES
        '''
cursorObject.execute(query)
tables_list = cursorObject.fetchall()

for table in tables_list:
    print(table[0])

dim_customer
dim_product
fact_gross_price
fact_manufacturing_cost
fact_pre_invoice_deductions
fact_sales_monthly

## Requests :

### Q1. Provide the list of markets in which customer **"Atliq Exclusive"** operates its business in the **APAC** region.

In [3]:
QUERY = '''
        SELECT DISTINCT(market) FROM dim_customer
            WHERE region = 'APAC' AND customer = 'Atliq Exclusive'
        '''
cursorObject.execute(QUERY)
pd.DataFrame(cursorObject.fetchall(), columns = cursorObject.column_names)

        market
0        India
1    Indonesia
2        Japan
3  Philiphines
4  South Korea
5    Australia
6   Newzealand
7   Bangladesh

### Q2. What is the percentage of unique product increase in 2021 vs. 2020?
The final output contains these fields,
- unique_products_2020
- unique_products_2021
- percentage_chg

In [4]:
QUERY = '''
        WITH fy20 AS (
                SELECT COUNT(DISTINCT(product_code)) AS up_20 FROM fact_sales_monthly
                    WHERE fiscal_year = 2020),
                    
            fy21 AS (
                SELECT COUNT(DISTINCT(product_code)) AS up_21 FROM fact_sales_monthly
                    WHERE fiscal_year = 2021)
                    
        SELECT fy20.up_20 AS unique_products_2020,
            fy21.up_21 AS unique_products_2021,
            ROUND((fy21.up_21-fy20.up_20) * 100/fy20.up_20, 2) as percentage_chg
            FROM fy20, fy21
        '''
cursorObject.execute(QUERY)
pd.DataFrame(cursorObject.fetchall(), columns = cursorObject.column_names)

   unique_products_2020  unique_products_2021 percentage_chg
0                   245                   334          36.33

### Q3. Provide a report with all the unique product counts for each **segment** and sort them in descending order of product counts.
The final output contains 2 fields,
- segment
- product_count

In [5]:
QUERY = '''
        SELECT segment, count(product) AS product_count FROM dim_product
            GROUP BY segment
            ORDER BY product_count DESC
        '''
cursorObject.execute(QUERY)
pd.DataFrame(cursorObject.fetchall(), columns = cursorObject.column_names)

       segment  product_count
0     Notebook            129
1  Accessories            116
2  Peripherals             84
3      Desktop             32
4      Storage             27
5   Networking              9